@using Kursovoi_proj.Models

@model Singer_GroupModel

@{
    ViewBag.Title = "DetailsSinger_Group";
}

<h2>Информация о исполнителях</h2>

<table class="table">
    <tr>
        <th>Название/ФИО</th>
        <th>Жанр</th>
        <th>Год основания</th>
        <th>Действия</th>
    </tr>
    @if (Model != null)
    {
        <tr>
            <td>@Model.Name_Singer</td>
            <td>@Model.Genre</td>
            <td>@Model.Year_Create</td>
            <td>
                @Html.ActionLink("Delete", "Delete", "Singer_Group", new { id = @Model.Singer_id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Edit", "Edit", "Singer_Group", new { id = @Model.Singer_id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }
</table>
<br>

@Html.ActionLink("Назад", "Index", "Singer_Group", new { @class = "btn btn-default" })

