@using Kursovoi_proj.Models

@model CommentModel
@{
    ViewBag.Title = "DetailsComment";
}

<h2>Данные о комментариях</h2>

<table class="table">
    <tr>
        <th>Описание комментария</th>
        <th>Дата/Время</th>
        <th>Действия</th>
    </tr>
    @if (Model != null)
    {
        <tr>
            <td>@Model.Comment_Description</td>
            <td>@Model.Date_Time</td>
            <td>
                @Html.ActionLink("Delete", "Delete", " Comment", new { id = @Model.Comment_Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Edit", "Edit", "Comment", new { id = @Model.Comment_Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }
</table>
<br>

@Html.ActionLink("Назад", "Index", "Comment", new { @class = "btn btn-default" })


